<%- include('header') %>
  <header>
    <h1>Log In</h1>
  </header>

  <div id="login-form">
    <form action="/log-in" method="POST">
      <div class="input-field">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
      </div>
      <div class="input-field">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
      </div>
      <button type="submit">Log In</button>
    </form>
  </div>
  <p style="display: flex; justify-content: center; align-items: center;">
    Don't have an account? 
    <a href="/sign-up" id="sign-up">Sign up here</a>
  </p>
<%- include('footer') %>