extends layout 

block content
  header 
    h1 Send A Message
  #newMessage
    form(action="/new", method="POST")
      .input-field
        label(for="user") Your Name:
        input(type="text" id="user" name="user" required)
      .input-field 
        label(for="message") Your Message: 
        textarea(id="message" name="message" rows=5 placeholder="Your Message")
      #buttons
        button(type="submit") Submit
        a(href="/") Go Back
    
