<%- include("header") %>
  <header>
    <h1>Sign Up</h1>
  </header>

  <div id="signup-form">
    <form action="/sign-up" method="POST">
      <div class="input-field">
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="firstName" required>
      </div>
      <div class="input-field">
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="lastName" required>
      </div>
      <div class="input-field">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="E.g. whoru@gmail.com" required>
      </div>
      <div class="input-field">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="input-field">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </div>

  <div>
    <% if (errors) { %>
      <ul>
        <% errors.map((error) => { %>
          <li><%= error %></li>
        <% }) %>
      </ul>
    <% } %>
  </div>
<%- include("footer") %>